{
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.ts",
    "**/*.js"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true,
  "lines": 90,
  "functions": 90,
  "branches": 80,
  "statements": 90
}